body {
    font-family: 'Raleway', serif;
    text-transform: uppercase;
}

.header {
    background-color: #5bbc2e;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.btn-user {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(0,0,0,0.2);
}

.slider-text {
    font-size: calc(24px + 2vw);
    color: #000;
    font-weight: 800;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: transparent;
    border: 3px solid #5bbc2e;
    opacity: 1;
}

.carousel-indicators .active {
    border: none;
    background-color: #5bbc2e;
    margin-top: 2px;
}

.features-info h2 {
    font-size: 30px;
    color: #8d8d8d;
    font-weight: 800;
}

.features {
    background-color: #f5f5f5;
}

.features-info p {
    font-size: 15px;
    font-weight: 400;
    color: #767575;
    line-height: 25px;
    text-transform: none;
}

.features h2 {
    font-size: 30px;
    color: #8d8d8d;
    font-weight: 800;
}

.features ul {
    list-style-image: url(../images/arrow.png);
    text-transform: none;
}

.portfolio h2 {
    font-size: 30px;
    color: #8d8d8d;
    font-weight: 800;
}

.portfolio .btn {
    font-size: 12px;
    font-weight: 800;
    border-radius: 0;
    padding: 6px 35px;
    border: none;
}

.portfolio h5 {
    font-size: 12px;
    color: #4b4b4b;
    font-weight: 800;
}

.footer {
    font-size: 12px;
    color: #e0e0e0;
    font-weight: 800;
    background-color: #141414;
    height: 100px;
}

.footer p {
    line-height: 100px;
    margin: 0;
}

.modal-header {
    background-color: #5bbc2e;
}

.modal .btn {
    background-color: #5bbc2e;
}